
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Your {{.Store.Name}} account has been created!</title>
    </head>
    <body>
        <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica,
            Arial,
            sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">Welcome to {{.Store.Name}}</div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <!-- LOGO -->
            <tr>
                <td bgcolor="#FFA73B" align="center">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tr>
                            <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFA73B" align="center" style="padding: 0px 10px 0px 10px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tr>
                            <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 20px 20px 20px;
                                border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial,
                                sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                                <h1 style="font-size: 48px; font-weight: 400; margin: 2;">Welcome to {{.Store.Name}}!</h1>
                                <img
                                    src="https://img.icons8.com/clouds/100/000000/handshake.png"
                                    width="125" height="120" style="display: block; border: 0px;" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tr>
                            <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 40px 30px; color: #666666;
                                font-family:
                                'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height:
                                25px;">
                                <p style="padding-bottom: 1em;">Hi {{.Customer.FirstName}},</p>
                                <p style="padding-bottom: 1em;">Thanks for creating an account on {{.Store.Name}}.</p>
                                <p style="padding-bottom: 1em;">Your username is {{.Customer.Email}}.</p>
                                <p style="padding-bottom: 1em;">You can access your account area to view orders,
                                    change your password, and more <a href="{{.Store.Url}}~/my-account/">in your account</a>.</p>
                                <p style="padding-bottom: 1em;">We look forward to seeing you soon.</p>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 40px 30px; border-radius: 0px
                                0px 4px
                                4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px;
                                font-weight: 400; line-height: 25px;">
                                <p style="margin: 0;">Cheers,<br>{{.Store.Name}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                        <tr>
                            <td bgcolor="#f4f4f4" align="left" style="padding: 0px 30px 30px 30px; color: #666666;
                                font-family:
                                'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height:
                                18px;">
                                <br>
                                <p style="margin: 0;">If these emails get annoying, please feel free to
                                    <a href="{{.Store.Url}}~/email/unsubscribe"
                                        target="_blank" style="color: #111111; font-weight: 700;">unsubscribe</a>.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>